.header {
    background: #1b2a49
}

.header__title {
    color: white;
    margin: 0;
    font-size: 5rem;
}

.header_content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $m-size 0;
}

.header__link_button{
    display: flex;
}

.header__link {
    text-decoration: none;
    font-size: 1.8rem;
    div {
        width: 80px;
        height: 80px;
        color: white;
        align-items: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: 0 $s-size 0 0;
    }
}
.u1{
    background: #00909e;
    border: 1px solid grey;
    
}
.u1_border{
    background: #00909e;
    outline: none;
    border-color: #94cdfc;
    box-shadow: 0 0 20px #94cdfc
}

.u2{
    background: #00909e;
    border: 1px solid grey;
}

.u2_border{
    background:  #00909e;
    outline: none;
    border-color: #94cdfc;
    box-shadow: 0 0 20px #94cdfc
}