// body {
//     font-family: sans-serif;
//     background-color: #1b1b1b;
// }

.grid-layout {
    width: calc(100vw - 680px);
    height: calc((100vw - 680px)*0.75);
    display: grid;
    grid-template-columns: repeat(20, minmax(20px, 1fr));
    grid-gap: 2px;
    grid-auto-rows: minmax(20px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-layout--u2{
    @extend .grid-layout;
    grid-template-columns: repeat(23, minmax(20px, 1fr));
}

.grid-item {
    width:100%;
    font-size: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #817b7b;
    border-radius: 5px;
}

@mixin span($spanx, $spany) {
    grid-column-end: span $spanx;
    grid-row-end: span $spany;
    background-color: #333;
}

.span-test {
    grid-column-end: 3;
    grid-row-end: 3;
    background-color: #333;
}

.span-4-6 {
    @include span(4,6);
}
.span-4-2 {
    @include span(4,2);
}
.span-4-4 {
    @include span(4,4);
}
.span-2-4 {
    @include span(2,4);
}
.span-2-8 {
    @include span(2,8);
}
.span-1-8 {
    @include span(1,8);
}
.span-3-8 {
    @include span(3,8);
}
.span-3-2 {
    @include span(3,2);
}
.span-13-1 {
    @include span(13,1);
}
.span-2-2 {
    @include span(2,2);
}
.span-2-4 {
    @include span(2,4);
}
.span-6-2 {
    @include span(6,2);
}
.span-1-10 {
    @include span(1,10);
}
.span-2-10 {
    @include span(2,10);
}
.span-3-10 {
    @include span(3,10);
}
.span-20-2 {
    @include span(20,2);
}
.span-21-2 {
    @include span(21,2);
}
.span-19-2 {
    @include span(19,2);
}

.span-20-1 {
    @include span(20,1);
}
.span-1-2 {
    @include span(1,2);
}
.span-4-1 {
    @include span(4,1);
}
.span-2-3 {
    @include span(2,3);
}


.spot-vert-o{
    @include span(1,2);
    background-color: #817b7b;
    cursor: pointer;
    border: solid 2px darkgray;
}
.spot-horz-o{
    @include span(2,1);
    background-color: #817b7b;
    cursor: pointer;
    border: solid 2px darkgray;
}
.spot-vert-x{
    @include span(1,2);
}
.spot-horz-x{
    @include span(2,1);
}